streamlit
python-dotenv
langchain>=0.1.14
langchain-core
langchain-community>=0.0.8
langchain-chroma
langchain-huggingface
langchain-groq
chromadb
huggingface-hub
sentence-transformers
PyPDF2
tqdm
pydantic<2
pysqlite3-binary  
