streamlit
python-dotenv
langchain
langchain_core
langchain_community
langchain_chroma
langchain_huggingface
langchain-groq
chromadb
huggingface_hub
sentence_transformers
PyPDF2
tqdm
pydantic<2  # LangChain often uses pydantic v1
